@import '../../variables.scss';

//
// Containers
// ==================================================
// ==================================================
//

.about-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $padding-2;
  color: $black;
}

.about-founders {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-person {
  box-sizing: border-box;
  display: flex;
  width: 35%;
  min-width: 500px;
  padding: $padding-1;
}

.about-story-container {
  display: flex;
  justify-content: center;
}

//
// Text and Objects
// ==================================================
// ==================================================
//

.about-header {
  @include subheader();
  align-self: center;
  margin: $padding-2 0 0;
}

.about-name,
.about-blurb {
  margin: 0;
}

.about-person-image {
  max-height: 175px;
  margin-right: $padding-1 / 2;
}

.about-header-story {
  margin-top: $padding-2;
  margin-bottom: $padding-1;
}

.about-story {
  box-sizing: border-box;
  width: 70%;
  padding: 0 $padding-1;
  margin-top: 0;
  margin-bottom: $padding-2;

  a {
    text-decoration: none;
    color: $purple;
    transition: $hover-transition;

    &:hover {
      color: darken($purple, 30%);
    }
  }
}

@mixin about-sm() {
  .about-founders {
    flex-direction: column;
  }

  .about-person {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: initial;
    padding: $padding-1;
    &:nth-child(2) {
      margin-top: $padding-2;
    }
  }

  .about-person-image {
    max-height: initial;
    width: 75%;
    margin-right: 0;
    margin-bottom: $padding-1;
    border-radius: 500px;
  }

  .about-name,
  .about-blurb {
    text-align: center;
  }

  .about-story {
    width: 100%;
    padding: 0;
  }
}
