@import '../../variables.scss';

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.Hero-landing {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  min-height: 900px;
}

.SubHeadline-landing {
  margin: $padding-2 * .5 0;
}

.Hero-landing-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.Hero-landing-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-1/2;
  padding-bottom: $padding-1/4;
  margin: $padding-1 0;
  margin-top: auto;
  opacity: 0.5;
  cursor: pointer;
  border-radius: $border-radius;
  transition: $hover-transition;

  &:hover {
    opacity: 1;
    background: $gray-8;
  }
}

.Hero-landing-arrow-label {
  font-size: $font-size-label;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
}

.Hero-landing-arrow-icon {
  width: 24px;
}

.landing-uses {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $padding-3 $padding-2;
  background: $white;
}

.landing-uses-body {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing-content {
  width: 100%;
  background: linear-gradient(0, $black-purple-2, $black-purple);
}

.landing-footer-cta {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $padding-3 $padding-1 $padding-4;
  background: $gray-2;
  background-image: url('./assets/images/background-footer-cta.svg');
  background-size: cover;
  background-position: bottom;
}

.FormEmail-light-background {
  background: none;
  padding: $padding-2 0;

  .FormEmail-input-label {
    font-weight: 600;
    color: $gray-9;
  }
}

@mixin landing-sm() {
  .Hero-landing {
    min-height: 1024px;
  }

  .landing-uses {
    padding-left: $padding-1;
    padding-right: $padding-1;
  }

  .landing-footer-cta {
    min-height: 500px;
  }
}
