@import '../../variables.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 70px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gotham';
  border: 1px solid transparent;
  transition: $hover-transition;
  cursor: pointer;
  outline: none;

  &:hover {
    box-shadow: $btn-shadow;
  }
}

.btn-purple {
  background: $purple;
  color: $white;

  &:hover {
    background: darken($purple, 3%);
  }
}

@mixin button-sm() {
  .btn,
  .btn-group {
    width: 100%;
    text-align: center;
  }
}
