@import '../../variables.scss';

.thumbnail-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 350px;
  padding: $padding-1;
  text-align: center;
}

.thumbnail-link {
  text-decoration: none;
  color: $purple;
  transition: $hover-transition;

  &:hover {
    color: darken($purple, 20%);
  }
}

.thumbnail-caption {
  width: 100%;
}

.thumbnail-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.thumbnail-description {
  margin: 0;
}

.thumbnail-disabled {
  cursor: not-allowed;
}

@mixin thumbnail-sm() {
  .thumbnail-container {
    width: 100%;
  }
}
