@import '../../variables.scss';

.headline-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 700px;
  width: 100%;
  padding: 0 15px;
  background-image: url('./assets/images/covers/cover-nyc.jpg');
  background-size: cover;
  background-position: bottom;
}

.headline-container-about {
  background-image: url('./assets/images/covers/cover-about.jpg');
  background-position: center;
}

.headline-container-process {
  background-image: url('./assets/images/covers/cover-process.jpg');
  background-position: center;
}

.headline {
  position: relative;
  margin-top: auto;
  margin-bottom: 0px;
  text-align: center;
  font-size: $font-size-header;
  text-transform: uppercase;
  color: $white;
  font-weight: 300;
}

.headline-first {
  margin-left: -170px;
  margin-right: 15px;
}

.sub-headline {
  text-align: center;
  color: $white;
  font-size: $font-size-subheader;
  font-weight: 100;
}

.btn-group {
  margin-top: initial;
  margin-bottom: auto;
}

@mixin hero-sm() {
  .headline-container {
    padding: 0 $padding-1;
  }
}
