@import '../../variables.scss';

.icon-list-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.list-shortener {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 1024px; // icon list length: 1806px
}

.icon-list {
  display: flex;
  box-sizing: border-box;
  padding: $padding-1 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: horizontalTicker;
  animation-duration: 90s;
}

.icon-list-item {
  margin: 0 $padding-1;
}

@keyframes horizontalTicker {
  0% { transform: translateX(-1400px);  }
  100% { transform: translateX(1400px); }
}

@mixin iconList-sm() {
  .list-shortener {
    width: 100%;
  }

  .icon-list {
    animation-duration: 45s;
  }
}
