@import '../../variables.scss';

.icon-list-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

$press-list-height: 100px;

.list-shortener {
  position: relative;
  height: $press-list-height;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 1024px;
}

.icon-list {
  position: absolute;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 2048px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: horizontalTicker;
  animation-duration: 60s;
}

.icon-list-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: $press-list-height;
  padding: $padding-1/2 $padding-1;
  transition: $hover-transition;

  &:hover {
    background: $gray-1;
  }
}

.icon-list-image {
  width: 100%;
}

@keyframes horizontalTicker {
  0% { transform: translateX(-1550px);  }
  100% { transform: translateX(1550px); }
}

@mixin iconList-sm() {
  .list-shortener {
    width: 100%;
  }

  .icon-list {
    animation-duration: 35s;
  }
}
