@import '../../variables.scss';

.contact-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $padding-2 $padding-1;
  background-color: $gray-2;
}

.contact-header {
  margin-bottom: $padding-2;
}
