@import '../../variables.scss';

$input-active-color: $purple;
$input-inactive-color: $gray-9;

.FormEmail-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: $padding-1;
  background: rgba($black-purple, 0.7);
  border-radius: $border-radius;
}

.FormEmail-input {
  margin-top: 5px;
  padding: $padding-1 10px;
  font-size: $font-size-base;
  background: $white;
  border: none;
  border-bottom: 4px solid;
  border-color: $input-inactive-color;
  outline: none;
  transition: $hover-transition;

  &:focus {
    border-color: $input-active-color;
  }

}

.FormEmail-input-label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: $padding-1/2 0;
  margin-top: 0;
  font-size: $font-size-label;
  text-transform: uppercase;
  font-weight: 300;
  color: $white;
  transition: $hover-transition;
  overflow: hidden;

  &:focus {
    border-color: $input-active-color;
  }
}

.FormEmail-submit-btn {
  width: 100% !important;
  font-size: $font-size-label;
}

.FormEmail-checkmark {
  position: absolute;
  right: 15px;
  top: 43px;
  width: 32px;
  transition: $hover-transition;
  transform: translateX(0);
}

.FormEmail-checkmark-hidden {
  transform: translateX(50px);
}

@mixin FormEmail-sm() {
  .FormEmail-form {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background: none;
  }
}
