@import '../../variables.scss';

.navbar {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: $padding-1 $padding-2;
  z-index: 101;
}

.nav-item,
.nav-mobile-item {
  padding: $padding-1 / 2;
  color: $gray-6;
  font-weight: 300;
  font-size: $font-size-label;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
  transition: $hover-transition;
  border-radius: $border-radius;

  &:hover {
    background: $gray-8;
    color: $white;
  }
}

.nav-item-active,
.nav-mobile-item-active {
  color: $white;
}

.nav-menu,
.nav-mobile {
  display: none;
}

@mixin navbar-sm() {
  .navbar,
  .nav-mobile {
    padding: $padding-1;
  }

  .nav-item {
    display: none;
  }

  .nav-menu {
    display: inline-block;
    float: right;
    align-self: flex-end;
  }

  .nav-menu-icon {
    height: 32px;
  }

  .nav-mobile {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: $black-purple-2;
    background: url('./assets/images/background-tile.svg'), linear-gradient(0deg, $black-purple-2, $black-purple);
    transition: $slide-transition;
    z-index: 100;
  }

  .nav-mobile-open-true {
    transform: translateX(-100%);
  }

  .nav-mobile-items {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $padding-2 $padding-1;
    text-align: center;
  }

  .nav-mobile-item {
    font-size: $font-size-subheader;
  }
}
