@import '../../variables.scss';

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 20px;
  // background-image: url('./assets/images/background-tile.svg');
  overflow-x: hidden;
}

.landing-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-3 $padding-2;
  padding-top: $padding-1;
}

.illustration-offer {
  width: 70%;
}

.landing-offer-header {
  margin: 0;
  text-align: center;
  font-size: $font-size-subheader;
  font-weight: 600;
  color: $gray-7;
  border-bottom: 4px solid $gray-7;
  text-transform: uppercase;
}

.landing-offer-body {
  margin-top: $padding-1;
  margin-bottom: $padding-2;
  text-align: center;
  font-size: $font-size-subheader;
}

@mixin offer-sm() {
  .landing-offer {
    padding: $padding-2 $padding-1;
  }

  .illustration-offer {
    max-height: 200vh;
    width: 100%;
  }
}

.bots-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $padding-2;
  justify-content: center;
  align-items: center;
  background: $white;
}

.bots-header {
  @include subheader();
  align-self: center;
  margin-bottom: $padding-1;
}

.bots-portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  align-items: center;
}

@mixin bots-sm() {
  .bots-portfolio {
    flex-direction: column;
    width: 100%;
  }
}
