@import '../../variables.scss';

//
// Containers
// ==================================================
// ==================================================
//

.footer-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $black-purple-2;
  background: url('./assets/images/background-tile.svg'), linear-gradient(0deg, $black, $black-purple-2);
  color: $gray-7;
  font-weight: 300;
  font-size: $font-size-label;
}

.footer-links {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: $padding-3 $padding-1;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
}

//
// Text and Objects
// ==================================================
// ==================================================
//
.footer-logo {
  margin-bottom: 10px;
}

.footer-email {
  margin-bottom: 5px;
  text-decoration: none;
  color: $gray-7;
  transition: $hover-transition;

  &:hover {
    color: $white;
  }
}

.footer-icons {
  margin-top: 5px;
}

.footer-icon {
  width: 32px;
  padding-right: 5px;
}

.footer-btn-label {
  margin-bottom: 5px;
  font-size: $font-size-label;
}

.footer-location {
  padding-left: 10px;
}

@mixin footer-sm() {
  .footer-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer-left {
    order: 2;
    align-items: center;
    margin-top: $padding-4;
  }

  .footer-right {
    align-self: center;
  }
}
