@font-face {
  font-family: 'Gotham';
  src: url("./assets/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Gotham';
  src: url("./assets/fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: 'Gotham';
  src: url("./assets/fonts/Gotham-Light.ttf") format("truetype");
  font-weight: 100; }

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; }

.landing-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
  padding-top: 25px; }

.illustration-offer {
  width: 70%; }

.landing-offer-header {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #a9a6b3;
  border-bottom: 4px solid #a9a6b3;
  text-transform: uppercase; }

.landing-offer-body {
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px; }
