@import './variables.scss';

//
// Global Styles
// ==================================================
// ==================================================
//

body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham', serif;
  font-size: 18px;
  font-weight: 300;
  color: $black;
  line-height: 1.3;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: lighten($purple, 30%); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: lighten($purple, 30%); /* Gecko Browsers */
}

//
// Components
// ==================================================
// ==================================================
//

@import './App.scss';
@import './components/Navbar/Navbar.scss';
@import './components/Footer/Footer.scss';
@import './components/Hero/Hero.scss';
@import './components/Button/Button.scss';
@import './components/IconList/IconList.scss';
@import './components/ContentSection/ContentSection.scss';
@import './pages/About/About.scss';

@import './styles/media-queries.scss';
