//
// Palette
// ==================================================
// ==================================================
//

$purple: #5c38e3;
$black: #1a1529;
$black-purple: #272040;
$black-purple-2: #4F4374;
$gray-13: #272040;
$gray-12: #3c3653;
$gray-11: #524D66;
$gray-10: #676279;
$gray-9:  #7d798c;
$gray-8:  #938f9f;
$gray-7:  #a9a6b3;
$gray-6:  #bfbdc5;
$gray-5:  #c9c7ce;
$gray-4:  #d3d2d7;
$gray-3:  #dddcdf;
$gray-2:  #e7e7e8;
$gray-1:  #f0eff1;
$gray-0:  #f4f4f5;
$white: #fff;

//
// Typefaces
// ==================================================
// ==================================================
//

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/Gotham-Book.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 100;
}

//
// Typography
// ==================================================
// ==================================================
//

$font-size-base: 18px;
$font-size-label: 14px;
$font-size-header: $font-size-base * 2;
$font-size-subheader: 24px;

//
// Spacing
// ==================================================
// ==================================================
//

$padding-1: 25px;
$padding-2: $padding-1 * 2;
$padding-3: $padding-1 * 4;
$padding-4: $padding-1 * 6;

//
// Transitions
// ==================================================
// ==================================================
//

$hover-transition: all 0.15s cubic-bezier(0, 0, .7, 1);

//
// Buttons
// ==================================================
// ==================================================
//

$border-radius: 2px;
$btn-shadow: 1px 2px 6px 1px rgba(0,0,0,.3);
