@import '../../variables.scss';

//
// Containers
// ==================================================
// ==================================================
//

.content-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: $padding-3 $padding-1;
}

.content-section-dark {
  background: linear-gradient(0, $black-purple-2, $black-purple);
  color: $white;
}

.content-section-light {
  background: $white;
  color: $black;
}

.content-section-none {
  background: none;
  color: $white;
}

.content-section-text-container,
.content-section-image-container {
  box-sizing: border-box;
  padding: 0 $padding-2;
  width: 35%;
  min-width: 512px;
}

.content-section-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section-deliverable-container {
  display: flex;
  flex-direction: column;
  margin-bottom: $padding-1;
}

//
// Text / Objects
// ==================================================
// ==================================================
//

.content-section-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: $font-size-label;
  color: $gray-8;
}

.content-section-title {
  border-bottom: 2px solid;
}

.content-section-header,
.content-section-body {
  margin: 0;
}

.content-section-header {
  margin-top: $padding-2;
  margin-bottom: $padding-1;
  font-size: $font-size-subheader;
  font-weight: 300;
}

.content-section-body {
  margin-bottom: $padding-2;
  font-size: $font-size-base;
  // font-weight: 100;
}

.content-section-image {
  max-width: 384px;
}

.content-section-deliverable-light {
  color: $black;
}

.content-section-deliverable-dark {
  color: $white;
}

@mixin contentSection-sm() {
  .content-section-container {
    flex-direction: column;
    padding: $padding-4 $padding-1;
  }

  .content-section-text-container,
  .content-section-image-container {
    padding: $padding-1 0;
    width: 100%;
    min-width: 100%;
  }

  .content-section-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content-section-title {
    align-self: flex-start;
  }

  .content-section-header {
    margin-top: $padding-1;
  }

  .content-section-image {
    width: 100%;
  }
}
